page-profilo {
  .toolbar-content ion-icon{
    font-size: 2.5em;
  }
  .toolbar-content p{
    margin: 5px 0;
  }
  .titolo-lista
  {
    font-style:normal;
    color: #3C4145;
    margin:0;

  }
  .info-lista
  {
    margin:0;
    margin-bottom: 20px;
  }
  .barra
  {
    bottom:0;
    position:absolute;
  }

}
