<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ioxxy.a18app">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.NuovoBuonoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LogInActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.InfoSpid"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Information"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.VoucherActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DettagliNegozioActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.BuonoProdottoActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>