<ion-header>

  <custom-navbar [text]="Nuovo buono: categoria" [type]="0"></custom-navbar>

</ion-header>

<ion-content>

  <!-- <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.about}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> -->
  <p>Scegli la categoria</p>
  <ion-list>
    <ion-item text-wrap *ngFor = "let item of Categoria" (click) = "navigateToListDetail(item)" >

      <ion-icon name={{item.icona}} item-start></ion-icon>
        <p>{{item.nome}}</p>
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>

    </ion-item>
  </ion-list>
</ion-content>
